* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding-right: 10%;
    padding-left: 10%;
    
}

#customers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}

.customer__location {
    text-transform: capitalize;
}
.customer__email{
    font-style: italic rgb(76, 76, 197);
    
}

/*.customer__name{
    padding-top: 10px; */

.customer {
        padding-top:15px; 
        padding-left: 15px;
        padding-right:15px;
        padding-bottom: 40px;
        
}